{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="h-full flex flex-col justify-center">
    <h2 class="text-xl font-bold text-custom-text-primary mb-4 text-center">{% trans "Sign In" %}</h2>

    {% if form.non_field_errors %}
        <div class="p-3 mb-4 rounded-md text-sm bg-red-900/50 text-red-300">
            {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
        </div>
    {% endif %}

    <form method="POST" action="{% url 'account_login' %}" class="flex flex-col gap-3">
        {% csrf_token %}

{#        <input type="hidden" name="next" value="{% url 'spotify-connect' %}" />#}

        {% for field in form %}
            {% if field.name == 'remember' %}
                <div class="flex items-center gap-2">
                    {% render_field field class="h-4 w-4 accent-spotify-green bg-custom-gray border-custom-gray rounded text-spotify-green focus:ring-spotify-green" %}
                    <label for="{{ field.id_for_label }}" class="text-sm font-medium text-custom-text-secondary">{{ field.label }}</label>
                </div>
            {% else %}
                <div>
                    {% render_field field class="w-full bg-custom-gray-medium border border-custom-gray-medium rounded-md p-2 placeholder-custom-placeholder text-custom-primary focus:outline-none focus:ring-1 focus:ring-spotify-green hover:ring-1 hover:ring-spotify-green transition-all duration-200 ease-in-out" placeholder=field.label %}
                    {% for error in field.errors %}
                        <p class="mt-1 text-xs text-stateerror">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="w-full bg-transparent text-white font-bold rounded-full py-3 hover:scale-105 transition-transform cursor-pointer border border-custom-gray" type="submit">{% trans "Sign In" %}</button>
    </form>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <div class="flex items-center my-6">
            <hr class="flex-grow border-zinc-700"><span class="px-4 text-sm">OR</span><hr class="flex-grow border-zinc-700">
        </div>

        {% for provider in socialaccount_providers %}
            <a href="{% provider_login_url provider.id %}" class="w-full flex items-center justify-center gap-3 bg-spotify-green text-black text-black font-bold rounded-full py-3 hover:scale-105 transition-transform cursor-pointe">
                <img src="{% static 'icons/Primary_Logo_Black_RGB.svg' %}" alt="Spotify Logo" class="w-6 h-6">
                <span>Continue with {{ provider.name }}</span>
            </a>
        {% endfor %}
    {% endif %}

    <p class="mt-8 text-center text-sm">
        {% trans "Don't have an account?" %}
        <a href="{{ signup_url }}" class="font-bold text-spotify-green hover:underline">{% trans "Sign up" %}</a>
    </p>
</div>
{% endblock %}